<div>
  <div>
    <div class="dialog_title">{{title}}</div>
  </div>
  <div class="dialog_body">
    <div>
      <mat-form-field appearance="outline" class="dialog_identificator">
        <mat-label>Id</mat-label>
        <input type="number" matInput placeholder="Id disabled [(ngModel)]="book.id">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="dialog_name">
        <mat-label>Title</mat-label>
        <input type="text" matInput placeholder="Title..." required [(ngModel)]="book.title">
        <mat-error>Add book title</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="dialog_identificator">
        <mat-label>Year</mat-label>
        <input matInput type="number" placeholder="Year" required [(ngModel)]="book.year">
        <mat-error>Select the year</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="dialog_name">
        <mat-label>Genre</mat-label>
        <mat-select disableRipple [formControl]="genreControl" required>
          <mat-option *ngFor="let genre of genres" [value]="book.genre">{{genre.name}}</mat-option>
        </mat-select>
        <mat-error>Select a genre for the book</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="dialog_name">
        <mat-label>Author</mat-label>
        <mat-select disableRipple [formControl]="authorControl" required>
          <mat-option *ngFor="let author of authors" [(value)]="book.author">{{author.name}}</mat-option>
        </mat-select>
        <mat-error>Select an author for the book</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="dialog_name">
        <mat-label>Description</mat-label>
        <input type="text" matInput placeholder="Description..." required [(ngModel)]="book.review">
        <mat-error>Add book description</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="buttons">
    <button mat-button class="white_button" (click)="onClose()">Clear</button>
    <button mat-button class="black_button">Save</button>
  </div>
</div>
